@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --cor-primaria: #0A3871;
  --cor-secundaria: #D8DFE8;
}

* {
  margin: 0;
}

body,
main {
  display: flex;
}

body {
  background-color: #F3F5FC;
  box-sizing: border-box;
  font-family: "Inter";
  height: 100vh;
  justify-content: space-around;
  padding: 2%;
}

header {
  width: 5%;
}

h1 {
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  gap: 5%;
  width: 90%;
}

main p {
  color: #495057;
}

#insercao-texto {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  width: 100%;
}

#insercao-texto textarea {
  background: none;
  border: none;
  color: var(--cor-primaria);
  font-family: "Inter";
  font-size: 2em;
  outline: none;
  resize: none;
}

#inferior-insercao {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#botoes-insercao {
  display: flex;
  justify-content: center;
  gap: 5%;
}

button {
  border: none;
  border-radius: 1.5em;
  font-size: 1em;
  padding: 1.5em;
}

#botoes-insercao button {
  width: 50%;
}

button:hover {
  filter: brightness(.8);
}

button:hover span {
  filter: brightness(1.2);
}

#botoes-insercao #criptografar {
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
}

#botoes-insercao #descriptografar {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-primaria);
}

#insercao-texto p i {
  margin-right: 1em;
}

#resposta-texto {
  background-color: white;
  border-radius: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2em rgb(0, 0, 0, 30%);
  justify-content: center;
  padding: 3%;
  text-align: center;
  width: 35%;
}

#resposta-texto h2 {
  color: #343A40;
}

#nao-encontrado {
  /* display: none; */
  gap: 1em;
}

#resposta {
  box-sizing: border-box;
  /* display: flex; */
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: justify;
}

#resposta p {
  font-size: 1.5em;
}

#resposta button {
  background-color: white;
  border: 1px solid var(--cor-primaria);
  color: var(--cor-primaria);
  width: 100%;
}
